h1
{
    background-color: #87CEEB;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    margin-top: 0;
    border: 90px;
}
p{
    text-align: center;
    font-size: 2rem;
}